/.svn
/media/files
/media/users
/media/photos
/data/database.php
/app/tools/data/seevia_allinone.sql
/app/tools/data/v0.5-0.7.sql
/app/web/controllers/tests_controller.php
/data/install.lock
/data/admin/logs
/data/web/logs
